{% extends 'base.html' %}



{% block title %}
  Developer
{% endblock title %}


{% block content %}
  <h5>Developed by Aayushmaan Team</h5>
  <p>
    College ERP System
  </p>

  <p>
    <a href="https://github.com/RohitAayushmaan/Custom-Notepad"> https://github.com/RohitAayushmaan/Custom-Notepad</a>

  </p>

  <p>
<!--    For a more customized version or advance version for students/staff/parent, contact at email rohiit.chaurasiya@gmail.com <br>-->

    You can also reach me on https://github.com/RohitAayushmaan


  </p>
{% endblock content %}
